@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.5 "ﾎ｢ﾈ�ﾑﾅｺﾚ";
    color: rgb(94, 100, 106);
}

a {
    text-decoration: none;
}

input{
	margin: 0 auto;
	display: block;
}

h2 {
	color: #000;
	font-weight:bold;
	font-size:18px
}

h3 {
	color: #000;
	font-weight:lighter;
	font-size:14px
}

p{
	color: red;
}

.box{
	margin: 100px auto;
	width:308px;
	height:229px;
	background-color: LavenderBlush;
	text-align:center;
}
